@font-face {
    font-family: 'Roster';
    src: url('assets/fugazone-regular-webfont.woff2') format('woff2'),
         url('assets/fugazone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}